{% extends 'base.twig' %}

{% block title %}Books{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books</h3>
<ul class="nav nav-pills">
    <li role="presentation"><a href="/books">View all</a></li>
    <li role="presentation"><a href="/books/add">Add</a></li>
</ul>
<div class="row">
    <div id="result">
        <div class="alert alert-success" role="alert">Complete</p>
    </div>              
</div>
{% endblock %}