{% extends 'base.twig' %}

{% block title %}Books{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books</h3>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/books">View all books</a></li>
  <li role="presentation"><a href="/books/add">Add book</a></li>
</ul>
<div class="row">
    <div id="result">
        {% for book in book %}
        <form class="form-horizontal" action="/books/edit/" method="POST">
           <input type="hidden" id="_method" name="_method" value="PUT" />
            <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Book name</label>  
              <div class="col-md-4">
                 <input id="textinput" name="id" type="text"  hidden="hidden" value="{{ book.b_id}}">
                  <input id="textinput" name="b_name" type="text" placeholder="Book name" class="form-control input-md" value="{{ book.b_name }}">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textinput">Book author</label>  
                  <div class="col-md-4">
              <input id="textinput" name="b_author" type="text" placeholder="Book author" class="form-control input-md" value="{{ book.b_author }}">

              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" class="btn btn-primary">Update</button> <button type="button" class="btn btn-warning" onclick="history.back()">Back</button>
                </div>
            </div>

            </fieldset>
        </form>
        {% endfor %}
    </div>              
</div>
{% endblock %}