{% extends 'base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-danger" role="alert"><h4>{{ error }}</h3></div>
<div class="row">
    <button type="button" class="btn btn-warning" onclick="history.back()">Back</button>
</div>
{% endblock %}