{% extends 'base.twig' %}

{% block title %}Ok{% endblock %}

{% block content %}
<ul class="nav nav-pills">
  <li role="presentation"><a href="/people">View all peoples</a></li>
  <li role="presentation"><a href="/book">View all books</a></li>
</ul>
<br>
<div class="row">
    <div id="result">
        <div class="alert alert-success" role="alert"><h4>Complete</h4></div>        
    </div>              
</div>
{% endblock %}