{% extends 'base.twig' %}

{% block title %}Ok{% endblock %}

{% block content %}
<div class="row">
    <div id="result">
        <div class="alert alert-success col-lg-1 col-md-2 col-sm-4 col-xs-6" role="alert">Complete</p>
    </div>              
</div>
{% endblock %}