{% extends 'base.twig' %}

{% block title %}People{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> People</h3>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/people">View all</a></li>
  <li role="presentation"><a href="/people/add">Add</a></li>
</ul>

<div class="row">
    <div id="result">
        {% for people in people %}
        <form class="form-horizontal" action="/people/edit" method="post">
        <input type="hidden" id="_method" name="_method" value="PUT" />
        <fieldset>
        <!-- Text input-->
        <input id="textinput" name="p_id" type="text"  hidden="hidden" value="{{ people.p_id }}">
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Name</label>
            <div class="col-md-4">                
                <input id="textinput" name="p_name" type="text" placeholder="Name" class="form-control input-md" value="{{ people.p_name }}">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Lastname</label>  
            <div class="col-md-4">
                <input id="textinput" name="p_lastname" type="text" placeholder="Lastname" class="form-control input-md" value="{{ people.p_lastname }}">
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Post</label>  
            <div class="col-md-4">
                <input id="textinput" name="p_post" type="text" placeholder="Post" class="form-control input-md" value="{{ people.p_post }}">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" class="btn btn-primary">Update</button> <button type="button" class="btn btn-warning" onclick="history.back()">Back</button>
            </div>
        </div>

        </fieldset>
        </form>
        {% endfor %}
    </div>              
</div>
{% endblock %}