{% extends 'base.twig' %}

{% block title %}People{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> People</h3>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/people">View all</a></li>
  <li role="presentation"><a href="/people/add">Add</a></li>
</ul>

<div class="row">
    <div id="result">
        <form class="form-horizontal" action="/people/add" method="POST">
            <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-4">                
                    <input id="textinput" name="p_name" type="text" placeholder="Name" class="form-control input-md" value="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Lastname</label>  
                <div class="col-md-4">
                    <input id="textinput" name="p_lastname" type="text" placeholder="Lastname" class="form-control input-md" value="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Post</label>  
                <div class="col-md-4">
                    <input id="textinput" name="p_post" type="text" placeholder="Post" class="form-control input-md" value="">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" class="btn btn-primary">Add</button> <button type="button" class="btn btn-warning" onclick="history.back()">Back</button>
                </div>
            </div>
            </fieldset>
        </form>
    </div>              
</div>
{% endblock %}